
* {
  box-sizing: border-box;
}

html{
  font-size: 10px; 
 }

.body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

/* Header */

.header{
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  


}

.logo__container{
  width: 15.5rem;
  margin: 1rem auto 1rem auto;

}

.logo__img{
  width: 100%;
}

.nav {
  align-self: center

}

.nav__list{
list-style: none;
padding-inline-start: 0em;
display: flex;
margin-bottom: 1.3rem;
}

.nav__item{
  display: inline;
    text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  
  
}





.item__1{
  margin-right: 0;
}


.nav__link{
  text-decoration: none;
  color: #4a4a4a;
  padding: 1rem;
}


/* Main */

.main {
  height: 100vh;
  min-height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3CDBC0;
  
}

.main__text{
  color: #FFFFFF;
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
}

.main__text .text{
  display: block;
}

@media all and (min-width:768px) {

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo__container{
  text-align: left;
  margin: 2rem 0rem 2rem 3rem;
}

.main__text{
font-size: 4rem;
}



.item1 .nav__link {
  padding-right: 1rem;
  

}

.item2 .nav__link{
  padding-right: 2rem;
  
}

}